{%extends '_base.html'%} {%block main%}
<section class="container">
    <div class="card bg-dark m-4">
        <div class="card-body m-3">
            <h1 class="card-title text-white text-center">Baked Bean Charity</h1>
            <p class="card-text text-white">

            </p>
        </div>
    </div>
    <section class="row d-flex justify-content-center p-4">
        <!-- Picture Carousel Scetion -->
        <div class="col-sm">
            <div class="auto-resizable-iframe">
                <div>
                    <iframe width="560" height="200" src="https://www.youtube-nocookie.com/embed/HvnPeeLEVq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
    </section>
    <!-- Picture Carousel Scetion Ends-->
    <!-- Community Scetion -->

    <section class="row p-3">
        <h2 class="text-center pt-md-5 pb-md-0 ">Promoting education and social inclusion among adults and children with special educational needs and disabilities.</h2>
    </section>
    <section class="row p-3">
        <h2 class="text-center pt-md-5 pb-md-0 ">Community News</h2>
    </section>
    <section class="row p-0">
        <article class="col-sm col-md-4 m-sm-3 m-lg-0 p-2 text-center d-flex justify-content-center">
            <a href="#">
                <div class="card lg-m-4 s-m-12 md-m-2" style="width: 18rem;">
                    <img src="https://via.placeholder.com/10x10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">2.1 of Four rows.</p>
                    </div>
                </div>
            </a>
        </article>
        <article class=" col-sm col-md-4 m-sm-3 m-lg-0 p-2 text-center d-flex justify-content-center">
            <a href="#">
                <div class="card lg-m-4 s-m-1 md-m-2" style="width: 18rem;">
                    <img src="https://via.placeholder.com/10x10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">2.2 of Four rows.</p>
                    </div>
                </div>
            </a>
        </article>
        <article class="col-sm col-md-4 m-sm-3 m-lg-0 p-2 text-center d-flex justify-content-center">
            <a href="#">
                <div class="card lg-m-4 s-m-1 md-m-2" style="width: 18rem;">
                    <img src="https://via.placeholder.com/10x10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">2.2 of Four rows.</p>
                    </div>
                </div>
            </a>
        </article>
    </section>
    <!-- Community Scetion Ends-->
    <!-- Stories Scetion-->
    <section class="row p-2 bg-light p-4 mt-5">
        <h2 class="text-center pt-md-4 pb-md-0 ">STORIES</h2>
        <p class="text-center pt-md-0 pb-md-0">We work with local communities, schools and homes across Wandworth. Read about some of the people we have supported.</p>
    </section>
    <section class="row p-2 justify-content-center bg-light">
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 p-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/Stories/Isaac_Daswon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 p-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/Stories/SAM_4567.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 p-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/Stories/SAM_4568.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="row p-5 justify-content-center ">
        <h2 class="text-center col-sm ">What We Do</h2>
    </section>
    <section class="row  justify-content-center ">
        <h3 class="text-center col-sm ">Intensive Support</h3>
    </section>
    <section class="row">
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 m-4 d-flex justify-content-center">
            <a href="whatwedo.html#instensivesupport">
                <div class="card border-0" style="width: 18rem;">
                    <img src="images/Intensive_support_3.png" class="card-img-top" alt="..." width="60" height="250">
                    <div class="card-body">
                        <h5 class="card-title text-center">1 to 1 Mentoring</h5>
                        <p class="card-text text-center"></p>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-primary text-center">Find Out More</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="row justify-content-center ">
        <h3 class="text-center col-sm ">Life Long Learning</h3>
    </section>
    <section class="row">
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 m-4 d-flex justify-content-center">
            <a href="whatwedo.html#ArtyBeans">
                <div class="card border-0" style="width: 18rem;">
                    <img src="images/art.svg" id="ISP" class="card-img-top" alt="..." width="50" height="200">
                    <div class="card-body">
                        <h5 class="card-title text-center">Arty Beans</h5>
                        <p class="card-text text-center"></p>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-primary text-center">Find Out More</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 m-4 d-flex justify-content-center">
            <a href="whatwedo.html#ComputerBeans">
                <div class="card border-0" style="width: 18rem;">
                    <img src="images/computer.svg" id="ISP" class="card-img-top" alt="..." width="50" height="200">
                    <div class="card-body">
                        <h5 class="card-title text-center">Computer Beans</h5>
                        <p class="card-text text-center"></p>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-primary text-center">Find Out More</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 m-4 d-flex justify-content-center">
            <a href="FoodyBeans">
                <div class="card border-0" style="width: 18rem;">
                    <img src="images/food.svg" class="card-img-top" alt="..." width="50" height="200">
                    <div class="card-body">
                        <h5 class="card-title text-center">Foody Beans</h5>
                        <p class="card-text text-center"></p>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-primary text-center"> Find Out More</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 m-4 d-flex justify-content-center">
            <a href="whatwedo.html#HealthyBeans" <div class="card border-0" style="width: 18rem;">
                <img src="images/life.svg" class="card-img-top" alt="..." width="50" height="200">
                <div class="card-body">
                    <h5 class="card-title text-center">Healthy Beans</h5>
                    <p class="card-text text-center"></p>
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-primary text-center">Find Out More</div>
                    </div>
                </div>
        </div>
        </a>
        </div>
        <div class="col-sm lg-p-5 md-p-4 sm-p-3 m-4 d-flex justify-content-center">
            <a href="whatwedo.html#WritingBeans">
                <div class="card border-0" style="width: 18rem;">
                    <img src="images/writing.svg" class="card-img-top" alt="..." width="50" height="200">
                    <div class="card-body">
                        <h5 class="card-title text-center">Writing Beans</h5>
                        <p class="card-text text-center"></p>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-primary text-center">Find Out More</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

</section>
{%endblock%}