{%extends '_base.html'%}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<!-- Bootstrap & Custom CSS -->
<link rel="stylesheet" href="/home/chukwuka/DjangoNot/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/home/chukwuka/DjangoNot/static/css/custom.css">
<link rel="stylesheet" href="/home/chukwuka/DjangoNot/static/css/all.css">
<link rel="stylesheet" href="/home/chukwuka/DjangoNot/static/css/brands.css">
<link rel="stylesheet" href="/home/chukwuka/DjangoNot/static/css/solid.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<!-- Favicon For Borwser Tab-->
<link rel="icon" href="/home/chukwuka/DjangoNot/static/images/favicon.png">

<title>Bootstrap 5 Blog Template</title>
</head>

<body>

    <div class="container-fluid">


        <div class="card bg-dark m-4">
            <div class="card-body m-3">
                <h1 class="card-title text-white">Baked Bean Charity Article</h1>
                <p class="card-text text-white">

                </p>
            </div>
        </div>

        <!-- I'll use row/column designs here because I'm lazzy and I think it'll work better than messing with Grid stuff. That said, this is probably do-able with grid tools, so... Bear that in mind -->

        <div class="row">

            <div class="col m-2">



            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2> {{.title}} </h2>
                <hr>

                <!--I'll use this section to define what a blog post looks like, and wrap it in div tags to deliniate it nicely-->
                <article class="blog-post">

                    <small class="text-muted">
                    {{.date}}
                  </small>
                    <br>
                    <br>
                    <img src="/home/chukwuka/DjangoNot/static/images/favicon.png" alt="" width="200" height="200" class="d-inline-block align-top">
                    <br>
                    <br> {{.content}}
                </article>
                <br>
                <br>

                <button type="button" class="btn rounded-pill btn-outline-primary" disabled>
                  previous
                </button>
                <button type="button" class="btn rounded-pill btn-outline-secondary" disabled>
                  Next
                  </button>
            </div>

            <div class="col">
                <div class="container sticky-top">
                    <div class="card">
                        <h5 class="card-header">
                            About
                        </h5>
                        <p class="card-body">
                            This is an about setion where we put info about theblog. the formatting really needs some work but you work with what you have.
                        </p>
                    </div>

                    <div class="card">
                        <h5 class="card-header">
                            Archives
                        </h5>
                        <div class="card-body">
                            <a href="#"> Jan 2020 </a><br>
                            <a href="#"> Feb 2020 </a><br>
                            <a href="#"> Mar 2020 </a><br>
                            <a href="#"> Apr 2020 </a><br>
                            <a href="#"> May 2020 </a><br>
                            <!-- Original Site uses unordered lists, Which i canimpliment ehre fairly painlessly. Using a lot of breaks was just what came to mind first -->
                        </div>
                    </div>

                    <div class="card">
                        <h5 class="card-header">
                            Like our content? Follow us
                        </h5>
                        <ul class="list-unstyled">
                            <div>
                                <section id="social-1" class="d-flex justify-content-sm-center justify-content-md-center">

                                    <a href="https://www.facebook.com/bakedbeancharity/" class="no-underline">
                                        <i class="fab fa-facebook-square p-2"></i>
                                    </a>

                                    <a href="https://twitter.com/BakedCharity" class="no-underline">
                                        <i class="fab fa-twitter-square p-2"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/baked-bean-charity-261243209/" class="no-underline">
                                        <i class="fab fa-linkedin  p-2"></i>
                                    </a>

                                    <a href="https://www.instagram.com/BakedBeanCharity/" class="no-underline">
                                        <i class="fab fa-instagram-square  p-2"></i>
                                    </a>

                                    <a href="https://www.youtube.com/channel/UCzKLTFDZnfWmf61TF-OTipA" class="no-underline">
                                        <i class="fab fa-youtube-square  p-2"></i>
                                    </a>
                                </section>
                            </div>
                        </ul>
                        <!-- Test of the above example. I think the break tag one is a better option, resolving margining issues and not needing messier class specifications, but we'll see what we need. -->
                    </div>

                </div>
            </div>
        </div>

        <footer>
            <div class="container m-4 d-flex justify-content-around">
                <p>

                </p>
                <a href="#" class="btn btn-outline-primary rounded-pill">
            Back To The Top
          </a>
            </div>
        </footer>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </div>

</body>

</html>