{%extends '_base.html'%} {%block main%}
<div class="container">
    <div class="row">
        <div class="card bg-dark m-4">
            <div class="card-body m-3">
                <h1 class="card-title text-white">Baked Bean Charity Gallery</h1>
            </div>
        </div>
    </div>
    <!-- I'll use row/column designs here because I'm lazzy and I think it'll work better than messing with Grid stuff. That said, this is probably do-able with grid tools, so... Bear that in mind -->

    <div class="container row align-content-center">
        <div class="col-md-12">
            <!-- Gallery -->
            <div class="row">
                <!-- {%for pic in gallery%} {%if (pic.id%2) == 0 %} -->
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img src="{{pic.picture.url/}}" class="w-100 h-30 shadow-1-strong rounded mb-4" alt="" />
                    <!-- {% else%} -->
                    <img src="{{pic.picture.url/}}" class="w-100 h-70 shadow-1-strong rounded mb-4" alt="" />
                </div>


                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img src="{{pic.picture.url/}}" class="w-100 shadow-1-strong rounded mb-4" alt="" />

                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                </div>
                <!-- {%endif%} {%endfor%} -->
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" class="w-100 h-30 shadow-1-strong rounded mb-4" alt="" />

                    <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" class="w-100 h-70 shadow-1-strong rounded mb-4" alt="" />
                </div>
            </div>
            <!-- Gallery -->
        </div>
    </div>
</div>

<footer>
    <div class="container m-4 d-flex justify-content-around">
        <p>

        </p>
        <a href="#" class="btn btn-outline-primary rounded-pill">
            Back To The Top
          </a>
    </div>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</div>
{%endblock%}